// Methods
$_color-post: #4CAF50;
$_color-get: #03A9F4;
$_color-put: #FF9800;
$_color-delete: #F44336;
$_color-head: #673AB7;
$_color-patch: #009688;
$_color-disabled: #ebebeb;
$_color-options: #607D8B;

$methods: (post: $_color-post),(get: $_color-get), (put: $_color-put),(delete: $_color-delete),(head: $_color-head),(patch: $_color-patch),(deprecated: $_color-disabled),(options: $_color-options)
